<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <block name="meta">
        <meta name="keywords" content="小精灵小说"/>
        <meta name="description" content="手机小说 无广告 无弹窗"/>
    </block>

    <block name="title">
        <title>小精灵小说</title>
    </block>

    <link rel="stylesheet" href="__PUBLIC__/css/index/base.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <block name="css"></block>
    <block name="js"></block>
</head>
<body>
<block name="head">
    <div class="header head-nav">
        <span><img class="logo" src="__PUBLIC__/img/logo.png"/></span>
        <span><a class="btn-green home" href="{:U('Home/Index/index')}">首页</a></span>
    </div>
</block>

<block name="body"></block>

<block name="foot">
    <div class="footer">
        <span>小精灵手机小说</span>
    </div>
</block>

<block name="script"></block>

<script>
    // 保证头部和尾部间隔
    $(document).ready(function () {
            var minHeight = $(window).height() - 100;
            $("#body").attr("style", "min-height: " + minHeight + "px;");
        }
    )
</script>
</body>
</html>