.search-input {
    border: 1px solid #e7e7e7;
    background-color: rgba(157, 255, 158, 0);
    height: 60px;
}

.search-tips {
    float: left;
    font-size: 1.05em;
    border: 1px solid gray;
    color: white;
    background-color: #1b6d85;
    margin: 20px 0 0 6%;
}

.search-input input {
    margin: 20px 0 0 1%;
    font-size: 1.07em;
    width: 40%;
}

.search-btn {
    margin: 20px 0 0 4%;
}

.search-btn a {
    padding: 2px 10px;
}

.top-click-title {
    background-color: #efefef;
    height: 30px;
}

.top-click-title span {
    float: left;
    margin: 5px 0 0 2%;
}

.chapter-href {
    background-color: #ffffff;
    display: block;
    padding: 10px;
    border-bottom: solid 1px #c6c6c6;
}

.storyName {
    float: left;
    font-size: 1.05em;
    color: #2e6da4;
}

.author {
    float: left;
    margin: 2% 0 0 5%;
    font-size: 0.8em;
    color: #7c7c7c;
}